# import modules

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import missingno as msno
from os import walk
from datetime import datetime, timedelta
import datetime as dt
plt.style.use("seaborn-darkgrid")
plt.rc("font",family = "Malgun Gothic")
plt.rc("axes",unicode_minus = False)

warnings.filterwarnings(action = "ignore")
pd.options.display.max_rows=100

# load files

In [4]:
next(walk("./data"))

('./data',
 ['.ipynb_checkpoints'],
 ['ddd.xlsx',
  'NATIONAL REPORT ON E-COMMERCE.pdf',
  'olist_closed_deals_dataset.csv',
  'olist_customers_dataset.csv',
  'olist_geolocation_dataset.csv',
  'olist_marketing_qualified_leads_dataset.csv',
  'olist_orders_dataset.csv',
  'olist_order_items_dataset.csv',
  'olist_order_payments_dataset.csv',
  'olist_order_reviews_dataset.csv',
  'olist_products_dataset.csv',
  'olist_sellers_dataset.csv',
  'product_category_name_translation.csv'])

In [44]:
product_category_name_translation = pd.read_csv("./data/product_category_name_translation.csv")
olist_products = pd.read_csv("./data/olist_products_dataset.csv")
olist_order_items = pd.read_csv("./data/olist_order_items_dataset.csv")
olist_sellers = pd.read_csv("./data/olist_sellers_dataset.csv")
olist_orders = pd.read_csv("./data/olist_orders_dataset.csv")
olist_customers = pd.read_csv("./data/olist_customers_dataset.csv")
olist_order_payments = pd.read_csv("./data/olist_order_payments_dataset.csv")
olist_order_reviews = pd.read_csv("./data/olist_order_reviews_dataset.csv")

olist_geolocation = pd.read_csv("./data/olist_geolocation_dataset.csv")

olist_closed_deals = pd.read_csv("./data/olist_closed_deals_dataset.csv")
olist_marketing_qualified_leads = pd.read_csv("./data/olist_marketing_qualified_leads_dataset.csv")

**데이터타입변경**

In [45]:
# olist_orders
column_list= ["order_purchase_timestamp","order_approved_at","order_delivered_carrier_date",
               "order_delivered_customer_date","order_estimated_delivery_date"]
olist_orders[column_list] = olist_orders[column_list].apply(pd.to_datetime)
# olist_order_items
olist_order_items["shipping_limit_date"] = olist_order_items.shipping_limit_date.apply(pd.to_datetime)

# olist_order_reviews
column_list = ["review_creation_date","review_answer_timestamp"]
olist_order_reviews[column_list] = olist_order_reviews[column_list].apply(pd.to_datetime)

# merge all

**olist_products_eng = olist_products + olist_products_replace_cat_name**  
**temp0 = olist_order_items + olist_products_eng**  
**temp1 = olist_sellers + olist_order_items**  
**temp2 = temp1 + olist_orders**  
**temp3 = temp2 + olist_customers**  
**temp4 = temp3 + olist_order_payments**  
**temp5 = temp4 + olist_order_reviews**

### 상품명 영어로 변환

In [46]:
olist_products_replace_cat_name = olist_products.copy()
#상품명 통일
olist_products_replace_cat_name.loc[olist_products_replace_cat_name.product_category_name.str.contains("^portateis")==True,"product_category_name"] = "portateis_casa_forno_e_cafe"
olist_products_replace_cat_name.loc[olist_products_replace_cat_name.product_category_name.str.contains("^pc")==True,"product_category_name"] = "pcs"
#상품명 영어로 변환
olist_products_eng = pd.merge(olist_products_replace_cat_name, product_category_name_translation, on = "product_category_name", how = "left")

### 결합

In [47]:
temp0 = pd.merge(olist_order_items,olist_products_eng,on="product_id",how="outer")
temp1 = pd.merge(temp0,olist_sellers,on="seller_id",how="outer")
temp2 = pd.merge(temp1,olist_orders,on = "order_id",how = "outer")
temp3 = pd.merge(temp2,olist_customers,on = "customer_id",how = "outer")
temp4 = pd.merge(temp3,olist_order_payments,on = "order_id",how = "outer")
temp5= pd.merge(temp4,olist_order_reviews,on = "order_id",how = "outer")
df = temp5.copy()

# EDA

### 년도-일자 관련 컬럼 생성

In [41]:
def generate_from_year_to_day(dataframe, column):
    df = dataframe.copy()
    df["year_month"] = df[column].astype(str).map(lambda x : pd.to_datetime(x[:7]))
#     df["year_month"] = pd.to_datetime(df[column].map(lambda x : x.strftime('%Y-%m')))
    df["year"] = df[column].dt.year
    df["month"] = df[column].dt.month
    df["week"] = df[column].dt.week
    df["day"] = df[column].dt.day
    df["weekday"] = df[column].dt.weekday
    return df

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119151 entries, 0 to 119150
Data columns (total 40 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       119151 non-null  object
 1   order_item_id                  118318 non-null  float64
 2   product_id                     118318 non-null  object
 3   seller_id                      118318 non-null  object
 4   shipping_limit_date            118318 non-null  datetime64[ns]
 5   price                          118318 non-null  float64
 6   freight_value                  118318 non-null  float64
 7   product_category_name          116609 non-null  object
 8   product_name_lenght            116609 non-null  float64
 9   product_description_lenght     116609 non-null  float64
 10  product_photos_qty             116609 non-null  float64
 11  product_weight_g               118298 non-null  float64
 12  product_length_cm              118298 non-null  float64
 13  product_height_cm              118298 non-null  float64
 14  product_width_cm               118298 non-null  float64
 15  product_category_name_english  116609 non-null  object
 16  seller_zip_code_prefix         118318 non-null  float64
 17  seller_city                    118318 non-null  object
 18  seller_state                   118318 non-null  object
 19  customer_id                    119151 non-null  object
 20  order_status                   119151 non-null  object
 21  order_purchase_timestamp       119151 non-null  datetime64[ns]
 22  order_approved_at              118974 non-null  datetime64[ns]
 23  order_delivered_carrier_date   117065 non-null  datetime64[ns]
 24  order_delivered_customer_date  115730 non-null  datetime64[ns]
 25  order_estimated_delivery_date  119151 non-null  datetime64[ns]
 26  customer_unique_id             119151 non-null  object
 27  customer_zip_code_prefix       119151 non-null  int64
 28  customer_city                  119151 non-null  object
 29  customer_state                 119151 non-null  object
 30  payment_sequential             119148 non-null  float64
 31  payment_type                   119148 non-null  object
 32  payment_installments           119148 non-null  float64
 33  payment_value                  119148 non-null  float64
 34  review_id                      119151 non-null  object
 35  review_score                   119151 non-null  int64
 36  review_comment_title           14189 non-null   object
 37  review_comment_message         51250 non-null   object
 38  review_creation_date           119151 non-null  datetime64[ns]
 39  review_answer_timestamp        119151 non-null  datetime64[ns]
dtypes: datetime64[ns](8), float64(14), int64(2), object(16)
memory usage: 37.3+ MB

In [50]:
df = generate_from_year_to_day(df,"order_purchase_timestamp").copy()

In [84]:
null_sum = df.isnull().sum().to_frame().rename(columns = {0 : "null(nb)"})
null_mean = (df.isnull().mean()*100).round(2).to_frame().rename(columns = {0 : "null(%)"})
pd.merge(null_sum,null_mean,left_index = True, right_index = True, how = "outer").T

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,year_month,year,month,week,day,weekday
null(nb),0.0,833.0,833.0,833.0,833.0,833.0,833.0,2542.00,2542.00,2542.00,...,104962.00,67901.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
null(%),0.0,0.7,0.7,0.7,0.7,0.7,0.7,2.13,2.13,2.13,...,88.09,56.99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df[df.order_item_id.isnull()==False]